.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton {
    border: 1px solid #bbbbbb;
    
            border-radius: 2px;
         -o-border-radius: 2px;
       -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton button.dropdown-toggle {
    display: none;
}

.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton .dropdown-menu {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    background: none;
    border: 0;
            box-shadow: none;
         -o-box-shadow: none;
       -moz-box-shadow: none;
    -webkit-box-shadow: none;
    
    padding: 0;
    margin: 0;
    
    min-width: 0;
}

.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton .dropdown-menu > li {
    float: left;
}

.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton button,
.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton .dropdown-menu > li > a {
    text-indent: -999em;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    min-height: 24px;
    border: 0;
    
    border-left: 1px solid #bbbbbb;
}

.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton button {
    border-left: 0;
}

.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton button:hover,
.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton .dropdown-menu > li > a:hover {
    background: #d5d5d5;
}

.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton button > span.icon,
.module-docheader.t3js-module-docheader .module-docheader-bar .module-docheader-bar-column-left .btn-group.t3js-splitbutton .dropdown-menu > li > a > span.icon {
    text-indent: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    
    
            transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    
}